.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-gap: 10px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 1 / 1;
}

.div2 {
  grid-area: 1 / 2 / 2 / 4;
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
}

.div4 {
  grid-area: 2 / 1 / 3 / 3;
}

.div5 {
  grid-area: 2 / 3 / 2 / 5;
}

.div6 {
  grid-area: 3 / 1 / 3 / 3;
}

.div7 {
  grid-area: 3 / 3 / 4 / 5;
}

.div8 {
  grid-area: 4 / 1 / 4 / 3;
}

.div9 {
  grid-area: 4 / 3 / 5 / 5;
}

.div10 {
  grid-area: 5 / 1 / 6 / 3;
}

.div11 {
  grid-area: 5 / 3 / 6 / 5;
 }

.div12 {
  grid-area: 6 / 1 / 7 / 3;
}  

.div13 {
  grid-area: 6 / 3 / 7 / 5;
}

.div14 {
  grid-area: 7 / 1 / 8 / 2;
}

.div15 {
  grid-area: 7 / 2 / 8 / 3;
}

.div16 {
  grid-area: 7 / 3 / 8 / 4;
}

.div17 {
  grid-area: 7 / 4 / 8 / 5;
}

.div18 {
  grid-area: 8 / 1 / 9 / 2;
}

.div19 {
  grid-area: 8 / 2 / 9 / 4;
}

.div20 {
  grid-area: 8 / 4 / 9 / 5;
}

.div21 {
  grid-area: 9 / 1 / 10 / 3;
}

.div22 {
  grid-area: 9 / 3 / 10 / 4;
}

.div23 {
  grid-area: 9 / 4 / 10 / 5;
}

.div24 {
  grid-area: 10 / 1 / 11 / 3;
}

.div25 {
  grid-area: 10 / 3 / 11 / 4;
}

.div26 {
  grid-area: 10 / 4 / 11 / 5;
}

.div27 {
  grid-area: 11 / 1 / 12 / 3;
}

.div28 {
  grid-area: 11 / 3 / 12 / 5;
}

.div29 {
  grid-area: 12 / 1 / 13 / 3;
}

.div30 {
  grid-area: 12 / 3 / 13 / 5;
}

.div31 {
  grid-area: 13 / 1 / 14 / 3;
}

.div32 {
  grid-area: 13 / 3 / 14 / 5;
}

.div33 {
  grid-area: 14 / 1 / 15 / 3;
}

.div34 {
  grid-area: 14 / 3 / 15 / 5;
}

.div35 {
  grid-area: 15 / 1 / 16 / 3;
}

.div36 {
  grid-area: 15 / 3 / 16 / 5;
}

.div37 {
  grid-area: 16 / 1 / 17 / 3;
}

.div38 {
  grid-area: 16 / 3 / 17 / 5;
}

.div39 {
  grid-area: 17 / 1 / 18 / 3;
}

.div40 {
  grid-area: 17 / 3 / 18 / 5;
}

.div41 {
  grid-area: 18 / 1 / 19 / 3;
}

.div42 {
  grid-area: 18 / 3 / 19 / 5;
}

.div43 {
  grid-area: 19 / 1 / 20 / 3;
}

.div44 {
  grid-area: 19 / 3 / 20 / 5;
}

.div45 {
  grid-area: 20 / 1 / 21 / 3;
}

.div46 {
  grid-area: 20 / 3 / 21 / 5;
}

.div47 {
  grid-area: 21 / 1 / 22 / 3;
}

.div48 {
  grid-area: 21 / 3 / 22 / 5;
}

.div49 {
  grid-area: 22 / 1 / 23 / 3;
}

.div50 {
  grid-area: 22 / 3 / 23 / 5;
}

.div51 {
  grid-area: 23 / 1 / 24 / 3;
}

.div52 {
  grid-area: 23 / 3 / 24 / 5;
}

.div53 {
  grid-area: 24 / 1 / 25 / 3;
}

.div54 {
  grid-area: 24 / 3 / 25 / 5;
}

.div55 {
  grid-area: 25 / 1 / 26 / 3;
}

.div56 {
  grid-area: 25 / 3 / 26 / 5;
}

.div57 {
  grid-area: 26 / 1 / 27 / 3;
}

.div58 {
  grid-area: 26 / 3 / 27 / 5;
}

.div59 {
  grid-area: 27 / 1 / 28 / 3;
}

.div60 {
  grid-area: 27 / 3 / 28 / 5;
}

.div61 {
  grid-area: 28 / 1 / 29 / 3;
}

.div62 {
  grid-area: 28 / 3 / 29 / 5;
}

.div63 {
  grid-area: 29 / 1 / 30 / 3;
}

.div64 {
  grid-area: 29 / 3 / 30 / 5;
}

.div65 {
  grid-area: 30 / 1 / 31 / 3;
}

.div66 {
  grid-area: 30 / 3 / 31 / 5;
}

.div67 {
  grid-area: 31 / 1 / 32 / 3;
}

.div68 {
  grid-area: 31 / 3 / 32 / 5;
}

.div69 {
  grid-area: 32 / 1 / 33 / 3;
}

.div70 {
  grid-area: 32 / 3 / 33 / 4;
}

.div71 {
  grid-area: 32 / 4 / 33 / 5;
}

.div72 {
  grid-area: 33 / 1 / 34 / 2;
}

.div73 {
  grid-area: 33 / 2 / 34 / 3;
}

.div74 {
  grid-area: 33 / 3 / 34 / 4;
}

.div75 {
  grid-area: 33 / 4 / 34 / 5;
}

.div76 {
  grid-area: 34 / 1 / 35 / 2;
}

.div77 {
  grid-area: 34 / 2 / 35 / 3;
}

.div78 {
  grid-area: 34 / 3 / 35 / 5;
}

.div79 {
  grid-area: 35 / 1 / 36 / 2;
}

.div80 {
  grid-area: 35 / 2 / 36 / 3;
}

.div81 {
  grid-area: 35 / 3 / 36 / 4;
}

.div82 {
  grid-area: 35 / 4 / 36 / 5;
}

.div83 {
  grid-area: 36 / 1 / 37 / 3;
}

.div84 {
  grid-area: 36 / 3 / 37 / 5;
}

.div85 {
  grid-area: 37 / 1 / 38 / 3;
}

.div86 {
  grid-area: 37 / 3 / 38 / 5;
}

.div87 {
  grid-area: 38 / 1 / 39 / 3;
}

.div88 {
  grid-area: 38 / 3 / 39 / 5;
}

.div89 {
  grid-area: 39 / 1 / 40 / 3;
}

.div90 {
  grid-area: 39 / 3 / 40 / 5;
}

.div91 {
  grid-area: 40 / 1 / 41 / 2;
}

.div92 {
  grid-area: 40 / 2 / 41 / 3;
}

.div93 {
  grid-area: 40 / 3 / 41 / 4;
}

.div94 {
  grid-area: 40 / 4 / 41 / 5;
}

.div95 {
  grid-area: 41 / 1 / 42 / 3;
}

.div96 {
  grid-area: 41 / 3 / 42 / 5;
}

.div97 {
  grid-area: 42 / 1 / 43 / 3;
}

.div98 {
  grid-area: 42 / 3 / 43 / 5;
}

.div99 {
  grid-area: 43 / 1 / 44 / 3;
}

.div100 {
  grid-area: 43 / 3 / 44 / 5;
}

.div101 {
  grid-area: 44 / 1 / 45 / 3;
}

.div102 {
  grid-area: 44 / 3 / 45 / 5;
}

.div103 {
  grid-area: 45 / 1 / 46 / 3;
}

.div104 {
  grid-area: 45 / 3 / 46 / 5;
}

.div105 {
  grid-area: 46 / 1 / 47 / 2;
}

.div106 {
  grid-area: 46 / 2 / 47 / 3;
}

.div107 {
  grid-area: 46 / 3 / 47 / 5;
}

.div108 {
  grid-area: 47 / 1 / 48 / 3;
}

.div109 {
  grid-area: 47 / 3 / 48 / 5;
}

.div110 {
  grid-area: 48 / 1 / 49 / 3;
}

.div111 {
  grid-area: 48 / 3 / 49 / 5;
}

.div112 {
  grid-area: 49 / 1 / 50 / 3;
}

.div113 {
  grid-area: 49 / 3 / 50 / 5;
}

.div114 {
  grid-area: 50 / 1 / 51 / 3;
}

.div115 {
  grid-area: 50 / 3 / 51 / 4;
}

.div116 {
  grid-area: 50 / 4 / 51 / 5;
}

.div117 {
  grid-area: 51 / 1 / 52 / 2;
}

.div118 {
  grid-area: 51 / 2 / 52 / 4;
}

.div119 {
  grid-area: 51 / 4 / 52 / 5;
}

.div120 {
  grid-area: 52 / 1 / 53 / 3;
}

.div121 {
  grid-area: 52 / 3 / 53 / 5;
}

.div122 {
  grid-area: 53 / 1 / 54 / 2;
}

.div123 {
  grid-area: 53 / 2 / 54 / 4;
}

.div124 {
  grid-area: 53 / 4 / 54 / 5;
}

.div125 {
  grid-area: 54 / 1 / 55 / 2;
}

.div126 {
  grid-area: 54 / 2 / 55 / 4;
}

.div127 {
  grid-area: 54 / 4 / 55 / 5;
}

.div128 {
  grid-area: 55 / 1 / 56 / 2;
}

.div129 {
  grid-area: 55 / 2 / 56 / 3;
}

.div130 {
  grid-area: 55 / 3 / 56 / 4;
}

.div131 {
  grid-area: 55 / 4 / 56 / 5;
}

.div132 {
  grid-area: 56 / 1 / 57 / 2;
}

.div133 {
  grid-area: 56 / 2 / 57 / 3;
}

.div134 {
  grid-area: 56 / 3 / 57 / 4;
}

.div135 {
  grid-area: 56 / 4 / 57 / 5;
}

.div136 {
  grid-area: 57/ 1 / 58 / 2;
}

.div137 {
  grid-area: 57 / 2 / 58 / 3;
}

.div138 {
  grid-area: 57 / 3 / 58 / 5;
}

.div139 {
  grid-area: 58 / 1 / 59 / 3;
}

.div140 {
  grid-area: 58 / 3 / 59 / 4;
}

.div141 {
  grid-area: 58 / 4 / 59 / 5;
}

.div142 {
  grid-area: 59 / 1 / 60 / 2;
}

.div143 {
  grid-area: 59 / 2 / 60 / 3;
}

.div144 {
  grid-area: 59 / 3 / 60 / 4;
}

.div145 {
  grid-area: 59 / 4 / 60 / 5;
}

.div146 {
  grid-area: 60 / 1 / 61 / 3;
}

.div147 {
  grid-area: 60 / 3 / 61 / 4;
}

.div148 {
  grid-area: 60 / 4 / 61 / 5;
}

.div149 {
  grid-area: 61 / 1 / 62 / 2;
}

.div150 {
  grid-area: 61 / 2 / 62 / 3;
}

.div151 {
  grid-area: 61 / 3 / 62 / 4;
}

.div152 {
  grid-area: 61 / 4 / 62 / 5;
}

.div153 {
  grid-area: 62 / 1 / 63 / 2;
}

.div154 {
  grid-area: 62 / 2 / 63 / 3;
}

.div155 {
  grid-area: 62 / 3 / 63 / 4;
}

.div156 {
  grid-area: 62 / 4 / 63 / 5;
}

.div157 {
  grid-area: 63 / 1 / 64 / 3;
}

.div158 {
  grid-area: 63 / 3 / 64 / 4;
}

.div159 {
  grid-area: 63 / 4 / 64 / 5;
}

.div160 {
  grid-area: 64 / 1 / 65 / 2;
}

.div161 {
  grid-area: 64 / 2 / 65 / 3;
}

.div162 {
  grid-area: 64 / 3 / 65 / 4;
}

.div163 {
  grid-area: 64 / 4 / 65 / 5;
}

.div164 {
  grid-area: 65 / 1 / 66 / 2;
}

.div165 {
  grid-area: 65 / 2 / 66 / 3;
}

.div166 {
  grid-area: 65 / 3 / 66 / 4;
}

.div167 {
  grid-area: 65 / 4 / 66 / 5;
}

.div168 {
  grid-area: 66 / 1 / 67 / 2;
}

.div169 {
  grid-area: 66 / 2 / 67 / 3;
}

.div170 {
  grid-area: 66 / 3 / 67 / 4;
}

.div171 {
  grid-area: 66 / 4 / 67 / 5;
}

.div172 {
  grid-area: 67 / 1 / 68 / 2;
}

.div173 {
  grid-area: 67 / 2 / 68 / 3;
}

.div174 {
  grid-area: 67 / 3 / 68 / 5;
}

.div175 {
  grid-area: 68 / 1 / 69 / 3;
}

.div176 {
  grid-area: 68 / 3 / 69 / 5;
}

.div177 {
  grid-area: 69 / 1 / 70 / 2;
}

.div178 {
  grid-area: 69 / 2 / 70 / 3;
}

.div179 {
  grid-area: 69 / 3 / 70 / 4;
}

.div180 {
  grid-area: 69 / 4 / 70 / 5;
}

.div181 {
  grid-area: 70 / 1 / 71 / 2;
}

.div182 {
  grid-area: 70 / 2 / 71 / 4;
}

.div183 {
  grid-area: 70 / 4 / 71 / 5;
}

.div184 {
  grid-area: 71 / 1 / 72 / 3;
}

.div185 {
  grid-area: 71 / 3 / 72 / 4;
}

.div186 {
  grid-area: 71 / 4 / 72 / 5;
}

.div187 {
  grid-area: 72 / 1 / 73 / 2;
}

.div188 {
  grid-area: 72 / 2 / 73 / 3;
}

.div189 {
  grid-area: 72 / 3 / 73 / 4;
}

.div190 {
  grid-area: 72 / 4 / 73 / 5;
}

.div191 {
  grid-area: 73 / 1 / 74 / 2;
}

.div192 {
  grid-area: 73 / 2 / 74 / 3;
}

.div193 {
  grid-area: 73 / 3 / 74 / 4;
}

.div194 {
  grid-area: 73 / 4 / 74 / 5;
}

.div195 {
  grid-area: 74 / 1 / 75 / 2;
}

.div196 {
  grid-area: 74 / 2 / 75 / 3;
}

.div197 {
  grid-area: 74 / 3 / 75 / 4;
}

.div198 {
  grid-area: 74 / 4 / 75 / 5;
}

.div199 {
  grid-area: 75 / 1 / 76 / 2;
}

.div200 {
  grid-area: 75 / 2 / 76 / 4;
}

.div201 {
  grid-area: 75 / 4 / 76 / 5;
}

.div202 {
  grid-area: 76 / 1 / 77 / 2;
}

.div203 {
  grid-area: 76 / 2 / 77 / 3;
}

.div204 {
  grid-area: 76 / 3 / 77 / 5;
}

.div205 {
  grid-area: 77 / 1 / 78 / 3;
}

.div206 {
  grid-area: 77 / 3 / 78 / 4;
}

.div207 {
  grid-area: 77 / 4 / 78 / 5;
}

.div208 {
  grid-area: 78 / 1 / 79 / 2;
}

.div209 {
  grid-area: 78 / 2 / 79 / 3;
}

.div210 {
  grid-area: 78 / 3 / 79 / 4;
}

.div211 {
  grid-area: 78 / 4 / 79 / 5;
}

.div212 {
  grid-area: 79 / 1 / 80 / 2;
}

.div213 {
  grid-area: 79 / 2 / 80 / 3;
}

.div214 {
  grid-area: 79 / 3 / 80 / 4;
}

.div215 {
  grid-area: 79 / 4 / 80 / 5;
}

.div216 {
  grid-area: 80 / 1 / 81 / 2;
}

.div217 {
  grid-area: 80 / 2 / 81 / 3;
}

.div218 {
  grid-area: 80 / 3 / 81 / 4;
}

.div219 {
  grid-area: 80 / 4 / 81 / 5;
}

.div220 {
  grid-area: 81 / 1 / 82 / 3;
}

.div221 {
  grid-area: 81 / 3 / 82 / 5;
}

.div222 {
  grid-area: 82 / 1 / 83 / 2;
}

.div223 {
  grid-area: 82 / 2 / 83 / 3;
}

.div224 {
  grid-area: 82 / 3 / 83 / 5;
}

.div225 {
  grid-area: 83 / 1 / 84 / 2;
}

.div226 {
  grid-area: 83 / 2 / 84 / 4;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}